################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/Algorithms/Algorithms.vcxproj.user
/Algorithms/Algorithms.VC.db
/Algorithms/Algorithms.VC.VC.opendb
/Algorithms/Algorithms/x64/Debug
/Algorithms/ipch/ALGORITHMS-3cdd966d
/Algorithms/x64/Debug
/Algorithms/.vs/Algorithms/v14
