################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/Algorithms/Algorithms.vcxproj.user
/Algorithms/Algorithms.VC.db
/Algorithms/Algorithms.VC.VC.opendb
